.flex-container{
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    display: flex; /*para alinaer los div de dentro en el centro del contenerdor principal*/
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flex-item{
    display: flex; /*para alinaer el texto de dentro*/
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: white;
}

.flex-item:hover{
    background-color: #2ecc71;
}