ul{
    margin: 0;
    padding: 0;
}

ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

ul li a{
    color: green;
    text-decoration: none;

}

ul li a:after{
    content: "INICIAR SESIÓN";
    font-family: 'Times New Roman';
    font-size: 21px;
    margin: 0;
}

ul li:last-child a::after{
    content: "FAVORITO";
    font-family: 'Times New Roman';
    font-size: 21px;
    margin: 0;
}

ul li a span, ul li a span::after{
    float: left;
}