li{
    display: inline-flex;
    margin-right: 20px;
}

a{
    color: green;
}

li:first-child a span::after{
    content: "Iniciar sesion";
    font-family: 'Times New Roman';
    font-size: 15px;
    text-transform: uppercase;
   
}
li a span::after{
    content: "Favorito";
    font-family: 'Times New Roman';
    font-size: 15px;
    text-transform: uppercase;
}

span{
    font-size: 10px;
    vertical-align: middle;
}